@media screen
{
	.ParentMenu
	{
		background:url(gag.gif) repeat-x; 
		padding-left: 1px; 
		padding-right: 1px;
	}
	.ParentItemContainer
	{
		height: 35px;
		background:url(bg.gif) repeat-x;
	}
	.ParentItemOver
	{ 
		height: 35px;
		background:url(bg_a.gif) repeat-x;
	}
	.ParentItemContentCell, .ParentItemContentCellOver
	{
		font: 10px Verdana;
		text-align: center;
		white-space: nowrap;
		width:100%;
	}
	.ParentItemContentCell a, .ParentItemContentCellOver a
	{
		font: 10px Verdana;
		text-align: center;
		white-space: nowrap;
		width:100%;
		text-decoration:none;
		color:black;
	}
	.ParentItemSubmenuCell,.ParentItemSubmenuCellOver
	{
		display: none;
	}
	.ParentSeparator, .ParentSeparatorOver
	{
		width: 2px;
		background: url(sep.gif) no-repeat; 
		padding:0px;
	}
	.ParentSeparatorContentCell, .ParentSeparatorContentCellOver
	{
		display: none;
	}

	.easyMenu
	{
		border:1px solid #a4bed0;
		background:url(s_bg.gif) #E4EFF3 repeat-x;
	}
	
	.easyMenuItem
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		color:#586680;
		padding: 0px;
	}
	
	.easyMenuItem a
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		color:#586680;
	}

	.easyMenuItemIconCell
	{
	}

	.easyMenuItemIconCell a
	{
	}

	.easyMenuItemContentCell
	{
		font-family: arial;
		font-size: 10px;
		color: #586680;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuItemContentCell a
	{
		font-family: arial;
		font-size: 10px;
		color: #586680;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
		text-decoration:none;
	}

	.easyMenuItemOver
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		background-color: #9EBACD;
		color:#000;
		padding: 0px;
	}
	
	.easyMenuItemOver a
	{
		height: 20px;
		cursor: auto; cursor: pointer;
		background-color: #9EBACD;
		color:#000;
	}

	.easyMenuItemIconCellOver
	{
	}

	.easyMenuItemIconCellOver a
	{
	}

	.easyMenuItemContentCellOver
	{
		color: White;
		font-family: arial;
		font-size: 10px;
		text-decoration: none;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuItemContentCellOver a
	{
		color: White;
		font-family: arial;
		font-size: 10px;
		text-decoration: none;
		text-indent: 10px;
		white-space: nowrap;
		width:100%;
	}

	.easyMenuSeparator
	{
	}
	
	.easyMenuSeparatorIconCell
	{
	}
	
	.easyMenuSeparatorContentCell
	{
	}

	.easyMenuSeparatorOver
	{
	}

	.easyMenuSeparatorIconCellOver
	{
	}
	
	.easyMenuSeparatorContentCellOver
	{
	}

	.easyMenuItemSubMenuCell
	{
		width: 15px;
		background-image: url(submenu.gif);
		background-repeat: no-repeat;
		background-position: 0px 9px;
		font: 1px Verdana;
		height:20px;
	}
	
	.easyMenuItemSubMenuCellOver
	{
		width: 15px;
		background-image: url(submenu_white.gif);
		background-repeat: no-repeat;
		background-position: 0px 9px;
		font-size: 1px;
		height:20px;
	}

	/* do not change these classes */
	.menuContainerIframeUnderlay
	{
		border: 0px;
		position : absolute; 
		visibility : hidden; 
		top : -2000px;
		left : 0px; 
		filter : "progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"; 
		filter : "Alpha(Opacity='0')";
		opacity : 0;
		--moz-opacity : 0;

		background-color: White;
		cursor: auto; cursor: default;
	}
	/* do not change these classes */
}

@media print
{
	.menuContainerIframeUnderlay
	{
		display: none;
	}	
}