
.modal 
{
   position: fixed;
   top: 0;
   left: 0;
   background-color: White;
   z-index: 99;
   opacity: 0.8;
   filter: alpha(opacity=80);
   -moz-opacity: 0.8;
   min-height: 100%;
   width: 100%;
}

.loading {
   font-family: Roboto;
   color:#262626;
   font-size: 11pt;
   border: 3px solid #67a7f5;
   border-radius:10px;
   width: 200px;
   height: 110px;
   display: none;
   position: fixed;
   background-color: White;
   z-index: 999;
}


body {
   font-family: Roboto;
   font-size: 11pt;
}
/*
table {
   border: 1px solid #ccc;
}

table th {
   background-color: #F7F7F7;
   color: #333;
   font-weight: bold;
}

table th, table td {
   padding: 5px;
   border-color: #ccc;
}
*/
/*
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-variant-numeric: tabular-nums;
}

button {
  padding: 4px 10px 5px;
  font-size: 20px;
}

.progress-elem {
  position: relative;
}

.progress-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-weight: 600;
  color: #27272A;
}

.progress-text {
  position: relative;
  top: -3px;
  right: -2px;
}

.progress-text-inner {
  
}

.progress-text-percent {
  font-size: 17px;
}
*/