body {
    /*background-image:url(../image/backgroundlog.png);*/
    font-family: 'Muli', Roboto, Arial, sans-serif !important;
}

.MenuBar {
    /*font-family: 'Muli', Roboto, Arial, sans-serif !important;*/
    margin:0,0,0,0;       
    width:100%;
    float:left;
    width:100%;    
    text-align:center;  
    font-size: 60px;  
    /*position: static;        */
}

.StaticMenuItemMB {
    /*font-family: 'Muli', Roboto, Arial, sans-serif !important;*/
    /*background-color: #1999cf;    */
    background-color: #3c8bc3;
    font: 8pt Roboto;    
    margin: auto;    
    vertical-align: top;
    background-repeat: repeat-x;    	
    height:auto;
    /*height: 330px;	*/
    text-align: center;
    /*top:0;*/
    width:100%;    
    color: white; 
}

/*Link Top */
.StaticMenuItemStyleMB {
    color: #ffffff;	    
    padding-bottom:1px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Roboto;
    padding-top:4px;
    padding-left:2px;
    padding-right:2px;
    /*top:0;*/
    text-align:center;
    border: none;
    border-width: px;
    border-color: white;
    height: 35px;
    background-color: #3c8bc3;
}



.StaticHoverStyleMB {
    background-color: #404242;
    /*color: #5f5f5f;*/
    color:White;
    transition: 1s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.StaticSelectedStyleMB {
    background-color: #404242;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.DynamicMenuItemStyleMB {
    background-color: #bdeafe;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    font: 8pt Roboto;
    margin: auto;
    border-left: 0px solid #c1c1c1;
    border-right: 0px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    border-spacing: 0px;
    vertical-align: top;
    top:0;
    background-repeat: repeat-x;
    /*height: 26px;*/
    text-align: center;
    color: #5f5f5f;
    width:100%;    
    padding-bottom:5px;
    padding-top:5px;
    padding-left:2px;
    padding-right:2px;
}

.DynamicHoverStyleMB {
    /*background-color: #eca74c;*/
    background-color:#404242;
    /*color: #ffffff;*/
    color:White;
}

.MenuBar2 {
    font-family: 'Muli', Roboto, Arial, sans-serif !important;
}

.StaticMenuItemMB2 {
    font-family: 'Muli', Roboto, Arial, sans-serif !important;
    /*background-color: #1999cf;    */
    background-color: #bdeafe;
    font: 9pt Roboto;    
    margin: auto;
    vertical-align: middle;
    background-repeat: repeat-x;    	
    /*height: 330px;	*/
    text-align: center;
    color: #5f5f5f;
}

.StaticMenuItemStyleMB2 {
    color: #5f5f5f;
    font: 9pt Roboto;    
    padding: 5px;	
    border: solid;
    border-width: 1px;
    border-color: #000000;
    /*border-color: white;*/
    border-style: solid;
    border-left: 0px solid #c1c1c1;
    border-right: 0px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    border-spacing: 0px;
}

.StaticHoverStyleMB2 {
    /*background-color: #b6e390;
    color: #5f5f5f;*/
    background-color: #404242;    
    color:White;
    transition: 1s;
}

.StaticSelectedStyleMB2 {
    background-color: #d2691e;
    color: white;
}

.DynamicMenuItemStyleMB2 {
    background-color: #bdeafe;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    font: 9pt Roboto;
    margin: auto;
    border-left: 0px solid #c1c1c1;
    border-right: 0px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    border-spacing: 0px;
    vertical-align: middle;
    background-repeat: repeat-x;
    /*height: 26px;*/
    text-align: left;
    color: #5f5f5f;
    padding: 5px;
}

.DynamicHoverStyleMB2 {
    background-color: #404242;
    color: White;
    transition: 1s;
}

#topContent {
    background-color: #404242;
    color: White;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    /* margin-top: -50px; */
    /* padding: 10px; */
    height: 45px;    
    position: fixed;
    overflow: hidden;    
    width:100%;
    top: -38px;
    left: 0px;
    /* min-width: 1000px; */
	width:expression(document.body.clientWidth < 1000? "1000px": "auto" );
}


#topContent2 {
    /*background-color: #600;*/
    /*background-color:red;*/
    color: White;
    margin:0,0,0,0;
    /*font-size: x-large;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
    position: relative;
    overflow: hidden;    
    padding-left: 0px;
    padding-right: 0px;    
    width:100%;
    /*height: 30px;    */
    height:auto;
    left: 0px;
    min-width: 1000px;
	width:expression(document.body.clientWidth < 1000? "1000px": "auto" );
}

#topContent .a {
    text-decoration: none;
    color: White;
}


/*atur Sidbar*/
#leftContent {
    width: 180px;    
    /*padding: 2px;*/
    /*font-size: 90%;*/        
    text-align: left;
    /*position: absolute;*/
    top: 104px; 
    margin-left: 0px;     
    margin-top: 0px;
    left: 0px;
    height: 90%;
    background-color: #404242;
     position: fixed;
    overflow-y: scroll;
    overflow: auto; 
    /*border: 1px solid #404242;  */
     scrollbar-color: #3c8bc3 White;
     scrollbar-width: thin;
     /*border-top-right-radius: 50px;*/
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
}



#leftContent2 {
    width: 100%;    
    padding: 2px;
    /*font-size: 90%;*/        
    text-align: left;        
    margin-top: 0px;
    left: 5px;
}

#leftContent h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-top: dotted 1px #660;
    border-bottom: dotted 1px #660;
}

#mainContent {
    text-align: left;
    margin-left: 180px;
    margin-right: 2px;
    padding: 1px;
    min-width: 798px;
	width:expression(document.body.clientWidth < 1000? "798px": "auto" );
}

#mainContent2 
{
	background:white;
    text-align: left;    
    margin-right: 2px;
    padding: 1px;
    min-width: 798px;
    /*width:100%;*/
	/*width:expression(document.body.clientWidth < 1000? "798px": "100%" );*/
}

#footerContent {
    text-align: center;
    padding: 1px;
}


/*button lohout ==============================*/
.Log-out {
    padding-top: 10px;
  border-radius: 5px;
  background-color: #e36e6e;
  font-weight: bold;
  font: "";
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  transition: all 1s;
  cursor: pointer;
  margin: 0px;
  text-decoration: none;
}

.Log-out span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.Log-out span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Log-out:hover span {
  padding-right: 25px;
}

.Log-out:hover span:after {
  opacity: 1;
  right: 0;
}

/*-==============================*/

/*button Home ==============================*/
.Home {
padding-top: 10px;
  border-radius: 5px;
  background-color: #3c8bc3;
  font-weight: bold;
  font: "";
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 100px;
  transition: all 1s;
  cursor: pointer;
  margin: 0px;
  text-decoration: none;
}

.Home span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}

.Home span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Home:hover span {
  padding-right: 25px;
}

.Home:hover span:after {
  opacity: 1;
  right: 0;
}

.period{
    background-color:  ;
    color: #eeeeee;
    font-family: Roboto;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 12px;
    text-align: right;
}