.H1
{
	font-size: larger;	
	font-weight:bold;
	font-family: Calibri;
		
}

.DropDownList, .TextBox
{
	font-family: Calibri;	
	font-size: 11.5px;
}

.TextBoxR
{
	font-family: Calibri;	
	font-size: 11.5px;
	background-color: #ebebe4;	
}

.Button
{
	font-family: Calibri;	
	font-size: 11.5px;
}

.ButtonR
{	background-color : Transparent;		
 	border-style: none;
	display: none;
}

.Content
{
	font-family: Calibri;	
	font-size: 11.5px;
}

.Watermarked
{
	font-family:Calibri;
	color :Silver;
	font-size:11.5px;
}

.Grid
{
	border: solid 1px Tan;
}

.Grid td
{
	border: solid 2px #FFFFFF;
	margin: 2px 2px 2px 2px;
	font-family: Calibri;
	padding: 3px 3px 3px 3px;	
	
}

.GridHeader
{	
	color:White;
	font-weight:bold;
	background-color: #cc9900;	
	text-align:center;
}

.GridHeader a
{
	text-decoration: none;			
	color: white;	
	padding: 0px 15px 0px 15px;
	text-align:center;
}
.GridFooter
{	
	color: Black;
}

.GridItem, .GridAltItem
{
	font-size: 11.5px;
}

.GridItem
{
	background-color: #FFF7E7;
	color: black;
}

.GridAltItem
{
	background-color: White;
}

.GridFilter
{
	background-color: Gray;
	color: black;
	font-size: 11.5px;
}

.GridPager
{
	font-size: x-small;
	background-color: #F7F7DE;
	color : Black;		
}

.ob_gEC
{
	padding: 0px;
	font-family: Verdana;
	font-size: 11.5px;
	color: #202426;			
	background-color: #FFFFFF;	
	border: 1px solid #196585;
}

.TextDate
{
	font-family: Calibri; 
	font-size: 11.5px;
	background-color: Silver;
	width: 80px; 
}

.Menu
{
	font-family: Calibri;	
	font-size: 11.5px;
	font-weight:bold;	
}

.MenuItem
{
	background-color: #FEE0C6;
	color: Black;
	border-color: Black;
    border-width: 1px;	
    border-style: groove;
    padding: 0px 11.5px 0px 11.5px;
}

.MenuSelect
{
	background-color: #d2691e;
	color: White;
	border-color:White;	
	border-width: 1px;	
}